body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    background-color: black;
    color: white;
}

header div {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 1em;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

header a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 40px;
    margin-right: 20px;
}

footer {
    background-color: black;
    display: flex;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer ul {
    width: 100%;
    padding-left: 0;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: flex-start
}

footer ul li {
    margin: 0em 2em;
}

main {
    margin-left: 1em;
}

main a {
    color:rgb(122, 0, 0);
}